body{
    /*background-image: url(../img/banner.jpg); */
    /*background-image: linear-gradient(to right, red , blue);*/
    width: 100%;
    height: 80vh;
    background: linear-gradient(135deg, rgba(74,144,226,0.7),rgba(255,22,22,0.6) 100%), url("../img/banner1.jpg") center no-repeat;
    background-attachment: fixed;
    /*background-repeat: no-repeat;*/
    background-size: cover;
/*    position: relative;*/
    overflow: auto;
    font-family: 'Montserrat', sans-serif!important;
}

.ventanaE, .c-resetPwd,.container .row .card-deck .card,.titleCard{
	background-color: #f8f9fa!important;
}

/*Index Inicio y nombre empresa*/
.presentacion{
  background-color: #0000003d;
  height: 500px;/*Largo de Presentacion*/
}
.titleIndex {
  color: white;
  font-size: calc(2.5em + 2.5vw);
}
.eslogan{
  color: white;
  font-size: calc(0.9em + 0.9vw);
}

/*Card Index*/
.textInfo{
  font-weight: 600;
  font-size: calc(1em + 1vw);
}

.cssimg{
  margin-top: -50px;
/*  border: 2px solid #ddd;*/
}

.cssimg:hover{
  /*transform: all 1.5s ease;*/
  transform: scale(1.1);
  /*box-shadow: 0 0 20px #4f9;*/
}

.cardRed{
  width: 100%;
  height: 16em;
  font-size: calc(0.6em + 0.6vw);
  border: 3px solid #de0000!important; /*e82d2d*/
  border-radius: 2em!important;
}

.cardBlue{
  width: 100%;
  height: 16em;

  font-size: calc(0.6em + 0.6vw);  
  border: 3px solid #2171cf!important; /*5991d3*/
  border-radius: 2em!important;
}

.cardRed:hover{
   transform: scale(1.0);
   box-shadow: 0 0 50px #ff1616;
   font-weight: 600;
  /* border: 2px solid #de0000;*/ /*e82d2d*/
/*   border-radius: 2em;*/
}
.cardBlue:hover{
   transform: scale(1.0);
   box-shadow: 0 0 50px #4a90e2; 
    font-weight: 600;   
   /*border: 2px solid #2171cf;*/ /*5991d3*/
   /*border-radius: 2em; */  
}

footer {
  background-color: #f8f9fa!important;
  bottom: 0; 
  width: 100%;
  height: 70px;
  color: black;
}